// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette 
$primary-color: #4C5760;
$secondary-color:#93a8ac;
$third-color: #d7ceb2;
$fourth-color: #a59e8c;
$nav-bg:#2c2f4b;
$link-navbar:#ffcd81;

