.projects__title{
    font-family: "Gemunu Libre", sans-serif;
    text-transform: uppercase;
    font-size: 75px;
    text-align: center;
}
.project{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .project__item{
        width: 300px;
        margin:5%;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border-radius: 12px;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
        align-items: center;
        .project__title{
            text-align: center;
            font-weight: bold;
        }
        .project__image{
            width: 100%;
            border-radius: 15px;;
        }
        .project__content{
            
        }
        &:hover{
            box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        }
    }
}